@import "govuk_publishing_components/component_support";

$gem-c-accordion-border-width: 3px;
$gem-c-accordion-bottom-border-width: 1px;

// Buttons within the sections don’t need default styling
.gem-c-accordion__section-button {
  display: inline-block;
  margin-bottom: 0;
  padding-top: govuk-spacing(3);
  font-weight: bold;
  @include govuk-font($size: 24, $weight: bold);
}

.gem-c-accordion__section-header {
  padding-top: govuk-spacing(2) 0;
}

.gem-c-accordion__section-heading,
.gem-c-accordion__section-summary {
  margin: govuk-spacing(1) 0;
}

.js-enabled {
  .gem-c-accordion {
    border-bottom: $gem-c-accordion-bottom-border-width solid $govuk-border-colour;
  }

  .gem-c-accordion__controls {
    text-align: left;
  }

  .gem-c-accordion__open-all {
    position: relative;
    z-index: 1;
    border-width: 0;
    color: $govuk-link-colour;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0 0 govuk-spacing(5) 0;
    // Slight right padding needed as Chevron clipped on iOS
    padding: 0 govuk-spacing(1) govuk-spacing(1) 0;
    @include govuk-font($size: 16);
    @include govuk-link-common;
    @include govuk-link-style-default;
    // Remove default button focus outline in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  .gem-c-accordion__open-all:hover .gem-c-accordion__open-all-text {
    color: $govuk-link-colour;
    text-decoration: underline;
  }

  // Focus state to change chervon icon to black
  .gem-c-accordion__open-all:focus {
    .gem-c-accordion__open-all-text {
      color: $govuk-focus-text-colour;
      text-decoration: none;
    }

    .gem-c-accordion-nav__chevron--stroke {
      stroke: govuk-colour("black");
    }
  }

  .gem-c-accordion__section-heading {
    // Override browser defaults to ensure consistent element height
    margin-top: 0; // Override browser default
    margin-bottom: 0; // Override browser default
    @include govuk-font(24);
  }

  // Section headers have a pointer cursor as an additional affordance
  .gem-c-accordion__section-header {
    padding: govuk-spacing(2) 0 govuk-spacing(5);
    position: relative;
    border-top: $gem-c-accordion-bottom-border-width solid $govuk-border-colour;
    color: $govuk-link-colour;
  }

  .gem-c-accordion__section-header--focused {
    @include govuk-focused-text;
    // Overwrite focus border to top
    box-shadow: 0 0, 0 -4px;
    border-top: 1px solid transparent;
  }

  // Removing hover styles while element is focused
  .gem-c-accordion__section-header--focused .gem-c-accordion__section-button:hover {
    color: $govuk-focus-text-colour;

    .gem-c-accordion__toggle-link {
      text-decoration: none;
      color: $govuk-focus-text-colour;
    }
  }

  // For devices that can't hover such as touch devices,
  // remove hover state as it can be stuck in that state (iOS).
  @media (hover: none) {
    .gem-c-accordion__section-header:hover {
      border-top-color: $govuk-link-colour;
      box-shadow: inset 0 $gem-c-accordion-border-width 0 0 $govuk-link-colour;
    }
  }

  // Align the arrow icon within the button, relative unit so zooms well at 300% and zoom-text-only Firefox
  .gem-c-accordion-nav__chevron {
    vertical-align: text-top;
    display: inline-block;
    width: em(20, 16);
    height: em(20, 16);
    overflow: visible;
    margin-left: em(5, 16);
  }

  // Buttons within the headers don’t need default styling
  .gem-c-accordion__section-button {
    margin: 0;
    padding: 0;
    border-width: 0;
    color: $govuk-text-colour;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    @include govuk-typography-common;

    &:active {
      z-index: 1;
      border-color: $govuk-focus-colour;
      color: $govuk-link-active-colour;
      background: none;
    }

    &:hover {
      color: $govuk-link-colour;

      // On hover, add underline to toggle link
      .gem-c-accordion__toggle-text {
        text-decoration: underline;
        color: $govuk-link-colour;
      }
    }

    // Remove default button focus outline in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  .gem-c-accordion__section-button:focus {
    // Removing as focus styles are on the outer element
    outline: none;
    // Focus state to change the toggle link within individual sections
    .gem-c-accordion__toggle-text {
      color: $govuk-focus-text-colour;
      text-decoration: none;
    }
    // Focus state to change chervon icon colour within individual sections
    .gem-c-accordion-nav__chevron--stroke {
      stroke: $govuk-focus-text-colour;
    }
  }

  // Extend the touch area of the button to span the section header
  .gem-c-accordion__section-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .gem-c-accordion__section-button:hover:not(:focus) {
    text-decoration: none;
  }

  // For devices that can't hover such as touch devices,
  // remove hover state as it can be stuck in that state (iOS).
  @media (hover: none) {
    .gem-c-accordion__section-button:hover {
      text-decoration: none;
    }
  }

  // Add toggle link with Chevron icon on right.
  .gem-c-accordion__toggle-link {
    display: block;
    color: $govuk-link-colour;
    text-transform: capitalize;
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
    @include govuk-font($size: 16, $line-height: 1);

    &:active {
      background: $govuk-link-active-colour;
    }
  }

  // Setting width so Chervon toggle doesn't jump when toggled
  .gem-c-accordion__toggle-text {
    min-width: em(40, 16);
    display: inline-block;
  }

  .gem-c-accordion__open-all-text {
    min-width: em(120, 16);
    display: inline-block;
    text-align: left;
  }

  // Change the summary subheading size.
  .gem-c-accordion__section-summary {
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(2, "bottom");
    @include govuk-typography-common;
    @include govuk-typography-responsive($size: 19);
  }

  // Hide body of expanded sections
  .gem-c-accordion__section-content {
    display: none;
    @include govuk-responsive-padding(0, "top");
    @include govuk-responsive-padding(8, "bottom");
  }

  // Show the body of expanded sections
  .gem-c-accordion__section--expanded .gem-c-accordion__section-content {
    display: block;
  }

  // Remove the bottom margin from the last item inside the content
  .gem-c-accordion__section-content > :last-child {
    margin-bottom: 0;
  }

  // Condensed layout
  .gem-c-accordion--condensed {
    .gem-c-accordion__open-all {
      margin-bottom: govuk-spacing(5);
      @include govuk-font($size: 14, $line-height: 1);
    }

    .gem-c-accordion__section-button {
      @include govuk-typography-responsive($size: 19, $important: true);
    }

    .gem-c-accordion__section-header {
      padding-top: govuk-spacing(0);
      padding-bottom: govuk-spacing(5);
    }

    .gem-c-accordion__section-summary {
      @include govuk-typography-responsive($size: 16, $important: true);
      margin: govuk-spacing(1) 0;
    }

    .gem-c-accordion__toggle-link {
      @include govuk-font($size: 14, $line-height: 1);
    }
  }
}
